/* General Styles */
*::selection {
    background-color: #8491FF;
    color: white;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    position: relative;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 15px;
    color: #838584;
    line-height: 25PX;
}

.button {
    padding: 13px 25px;
    display: inline-block;
    font-size: 15px;
    color: white;
    background-image: linear-gradient(to right, #8491FF, #62BBFC);

}

/* START -------------------- Header --------------- styles */
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header nav>ul {
    display: flex;
}

header nav>ul>li {
    font-size: 12px;
    padding: 10px;
    display: inline-block;
}

header nav>ul>li>a {
    padding: 5px;
}

header nav>ul>li a:hover {
    color: #007bff;
}

/* submenu level 1 */
header nav>ul>li ul {
    position: absolute;
    top: 130%;
    right: 0;

    background-color: white;
    padding: 8px;
    width: max-content;
    box-shadow: 0px 0px 30px 3px rgba(127, 137, 161, 0.25);

    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}

header nav>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
}

header nav>ul>li>ul>li a {
    padding: 10px;
    padding-right: 110px;
}

/* submenu level 2 */
header nav>ul>li>ul>li>ul {
    position: absolute;
    top: 0;
    right: 104.9%;

    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}

header nav>ul>li>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
}

/* START -------------------- main-section-1 --------------- styles */
.main-section-1 {
    background-color: #F9F9FF;
    height: auto;
}

.main-section-1 .container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 0;
    box-sizing: border-box;
}

.main-section-1 .container>div {
    width: 50%;
}

.main-section-1 .discription {
    height: 440px;
    padding: 10px;
    box-sizing: border-box;
}

.main-section-1 .discription>h5 {
    letter-spacing: 3px;
    color: #292C29;
}

.main-section-1 .discription>h1 {
    font-size: 55px;
    margin: 25px 0;
    color: #222222;
}

.main-section-1 .discription>p {
    font-size: 15px;
    margin: 25px 0;
    color: #838584;
    line-height: 25PX;
}

/* START -------------------- main-section-2 --------------- styles */
.main-section-2 .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 0;
    box-sizing: border-box;
}

.main-section-2 .container>div {
    width: 40%;
}

.main-section-2 .discription {
    height: 440px;
    padding: 10px;
    box-sizing: border-box;
    color: #222222;
}

.main-section-2 .discription>h1 {
    margin: 40px 0;
}

.main-section-2 .discription>p {
    font-size: 15px;
    margin: 30px 0;
}

}